<!doctype html>
<html lang="en" class="bg-slate-900">
  <head>
    <title>{{.Title}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- htmx script  -->
    <script
      src="https://unpkg.com/htmx.org@1.9.4"
      integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV"
      crossorigin="anonymous"
    ></script>
    <!-- alpinejs script  -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <!-- tailwind script later to be removed and replaced with actual tailwind  -->
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@3.5.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="antialiased bg-slate-900 m-0 p-0 w-screen">
  </body>
</html>
